    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
            <h1>Sign in</h1>
          </hgroup>
          <form action="login" method="post">
            <input type="email" name="email" placeholder="Email" aria-label="Login" autocomplete="nickname" required>
            <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="current-password" required>
            <fieldset>
            </fieldset>
            <button type="submit" class="contrast">Login</button>
            {{!-- <input type="submit" class="contrast"> Login --}}
            <a class="btn btn-dark mt-3 w-50" href="github">Entrar con Github</a>
          </form>
        </div>
        <div></div>
      </article>
    </main>