<main class="container">
      <article class="grid">
        <div>
          <hgroup>
            <h1>Registro</h1>
          </hgroup>
          <form action="register" method="post">
            <input type="text" name="first_name" placeholder="Nombre" aria-label="Login" required>
            <input type="text" name="last_name" placeholder="Apellido" aria-label="Login" required>
            <input type="email" name="email" placeholder="Email" aria-label="Email" required>
            <input type="password" name="password" placeholder="Password" aria-label="Password" required>
            <input type="number" name="age" placeholder="Edad" >
            <fieldset>
            </fieldset>
            <button type="submit" class="contrast">Registrar</button>
            {{!-- <input type="submit" class="contrast"> Login --}}
          </form>
        </div>
        <div></div>
      </article>
    </main>